# Kubernetes cluster join env example

API_SERVER="192.168.45.101:6443"
TOKEN="<replace-me>"
CA_HASH="sha256:<replace-me>"

POD_CIDR="10.244.0.0/16"
CNI_URL="https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml"

# auto | run | varrun
CRI_SOCKET_MODE="auto"
